<header class="header">
    <div class="container header-container">
        <nav class="header__nav">
            <a class="link logo" href="">
                <img src="/src/images/header/logo.png" alt="логотип сайта" width="60" height="65" />
            </a>
            <ul class="menu list">
                <li class="menu__item">
                    <a class="menu__link link" href="">Home</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link" href="">How it’s made?</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link" href="">Our products</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link" href="">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="header-container__btn">
                        <button type="button" class="mobile-menu-open js-open-menu">
                <svg class="mobail-menu-open_icon" width="32px" height="32px">
                    <use href="/src/images/svg/icon.svg#icon-cow"></use>
                </svg>
            </button>
        
        <button class="header-btn" type="button" data-modal-open>Buy now
            <!-- <svg class="modal-btn__icon" width="8" height="10">
                <use href="./images/vector.png"></use>
            </svg> -->
        </button></div>

    </div>

    <div class="mobile-menu js-menu-container">
        <button class="mobile-menu__close-btn js-close-menu">
            <svg class="mobile-menu__close-icon" width="32" height="32">
                <use href="/src/images/svg/icon.svg#icon-close_button_cross"></use>
            </svg>
        </button>




    </div>
