<header class="header">
    <nav class="header__nav">
        <!-- <a class="link logo" href="">
            <img src="/src/images/header/logo.png" alt="логотип сайта" width="60" height="65" />
        </a> -->
        <ul class="menu list">
            <li class="menu__item">Home</li>
            <li class="menu__item">How it’s made?</li>
            <li class="menu__item">Our products</li>
            <li class="menu__item">Contact</li>
        </ul>
    </nav>

     <button class="modal-btn" type="button" data-modal-open>Buy now

    </button> 
</header>

