<hero class="hero">
    <div class="hero__image">
        <div class="container">
            <div class="hero__title-number">
                <h1 class="hero__title">ice cream made with passion</h1>
                <ul class="hero-number__list list">
                    <li class="hero-number__item">16
                        <p class="hero-number__text">cafes</p>
                    </li>
                    <li class="hero-number__item">23
                        <p class="hero-number__text">food trucks</p>
                    </li>
                </ul>
            </div>
            <div class="hero__products-lorem">
                <ul class="hero__list list ">
                    <li class="hero__item">
                        <button type="button" href="#products" class="hero__btn">Products</button>
                    </li>
                    <li class="hero__item">
                        <a href="#made" class="hero__link">How it’s made?</a>
                    </li>
                </ul>
                <div class="hero__lorem">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <button type="button" class="hero-lorem__btn">
                        <svg width="40" height="16">
                            <use href="./images/hero/icons.svg#icon-hero-btn-richtung"></use>
                        </svg>
                    </button>
                </div>
                
            </div>
            
        </div>
        <picture>
           <source
                srcset="../images/hero/hero-teller.png 1x, ../images/hero/hero-teller@2x.png 2x" media="(min-width: 768px)"
           />
           <source
                srcset="../images/hero-teller-desktop.png 1x, ../images/hero-teller-desktop@2x.png 2x" media="(min-width: 1200px)"
           />
           <img src="../images/hero/hero-teller.png" alt="plate image" width="370">
       </picture>

       <picture>
            <source
                srcset="../images/hero/ice-cream-punkt-mob-left.png 1x, ../images/hero/ice-cream-punkt-mob-left@2x.png 2x" media="(max-width: 480px)"
            />
            <source
                srcset="../images/hero/ice-cream-punkt-left-480.png 1x, ../images/hero/ice-cream-punkt-left-480@2x.png 2x" media="(min-width: 480px)"
            />
            <source
                srcset="../images/hero/ice-cream-punkt-left-768.png 1x, ../images/hero/ice-cream-punkt-left-768@2x.png 2x" media="(min-width: 768px)"
            />
            <img src="../images/hero/ice-cream-punkt-mob-left.png" alt="dots left image" width="370">
        </picture>

        <picture>
            <source
                srcset="../images/hero/ice-cream-mobile.png 1x, ../images/hero/ice-cream-mobile@2x.png 2x" media="(max-width: 480px)"
            />
            <source
                srcset="../images/hero/ice-cream-mob-480.png 1x, ../images/hero/ice-cream-mob-480@2x.png 2x" media="(min-width: 480px)"
            />
            <source
                srcset="../images/hero/ice-cream-tab.png 1x, ../images/hero/ice-cream-tab@2x.png 2x" media="(min-width: 768px)"
            />
            <source
                srcset="../images/hero/ice-cream-desktop.png 1x, ../images/hero/ice-cream-desktop@2x.png 2x" media="(min-width: 1200px)"
            />
            <img src="" alt="ice cream image" width="370">
        </picture>

        <picture>
            <source
                srcset="../images/hero/ice-cream-punkt-mob-right.png 1x, ../images/hero/ice-cream-punkt-mob-right@2x.png 2x" media="(max-width: 480px)"
            />
            <source
                srcset="../images/hero/ice-cream-punkt-right-480.png 1x, ../images/hero/ice-cream-punkt-right-480@2x.png 2x" media="(min-width: 480px)"
            />
            <source
                srcset="../images/hero/ice-cream-punkt-right-768.png 1x, ../images/hero/ice-cream-punkt-right-768@2x.png 2x" media="(min-width: 768px)"
            />
            <img src="../images/hero/ice-cream-punkt-mob-right.png" alt="dots left image" width="370">
        </picture>

        <picture>
            <source
                srcset="../images/hero/ice-cream-punkt-desctop.png 1x, ../images/hero/ice-cream-punkt-desctop@2x.png 2x" media="(min-width: 1200px)"
            />
            <img src="../images/hero/ice-cream-punkt-desctop.png" alt="dots image" width="370">
        </picture>
    </div>  
</hero>